* {
    margin: 0;
    padding: 0;
}

.head {
    width: 100%;
    height: 70%;
    background-color: #574bba;
}

#title {
    float: left;
}

.center {
    width: 100%;
    height: 3200px;
    background-color: blue;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: #40a9ff;

}

.center .left {
    width: 20%;
    height: 3300px;
    background-color: #69c0ff;
    float: left;

}

.right {
    width: 80%;
    height: 3300px;
    background-color: bisque;
    float: left;
}

.right_top {
    width: 70%;
    height: 100px;
    background-color: hsl(216, 92%, 65%);
    margin: 0 auto;
}

.head .img1 {
    height: 100px;
    width: 400px;
    margin: 0 auto;

}

.img1 .coffee {
    height: 100px;
    width: 50px;
    float: left;
    margin-top: 10px;
}

.img1 #title {
    padding-left: 20px;
}

.img1 p {
    margin-top: 15px;
    float: left;
    font-size: 50px;
    color: white;
}

.right_top img {
    width: 1000px;
    height: 700px;
}

.left .choose {
    position: fixed;
}

.left .choose li:not(:last-child) {
    border-bottom: 1px solid white;
}
.left .choose li{
    text-align: center;
    list-style-type:none;
    line-height: 40px;
}
.left .choose li:hover{
    background-color: blue;
}

.left .choose {
    width: 20%;
    position: fixed;
}

.footer p {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    
}

.right_bottom {
    padding-left: 200px;
}

a {
    text-decoration: none;
    color: white;
}

.center .right table {
    margin: 20px auto;
    width: 500px;
    height: 250px;
    border-collapse: collapse;

}

.center .right table td,
.center .right table th {
    border: 2px solid #000;
}

.center .right table td {
    text-align: center;
    line-height: 100%;
}

.title {
    height: 300px;
    width: 300px;
    margin: 20px auto;
}

.title img {
    width: 260%;
    height: 100%;
    margin-left: -200px;
}

.title img:hover {
    opacity: 0.5;
}
#coffee1,#coffee2,#coffee3,#coffee4,#coffee5{
    margin-left: 20px;
}
.right p{
    text-indent:2em;
}
.right p:first-letter{
    font-size: 32px;
    font-weight: bold;
}
tr td:nth-child(2)::before{
    content: "¥";
}

